<form>
  <input type="number" [(ngModel)]="num1" name="num1" />
  <input type="number" [(ngModel)]="num2" name="num2" />
  <!-- ngModel: linka o num1 da classe para o HTML-->
  
  <div>
    <label for="op">Operação:</label>
    <select [(ngModel)]="op" id="op" name="op">
      <option value="+">+</option>
      <option value="-">-</option>
      <option value="*">*</option>
      <option value="/">/</option>
      <option value="%">%</option>
    </select>
  </div>

  <button (click)="resultado()">=</button>

  {{ res }}
</form>
